*{
    background: rgb(248, 225, 150);
}

.AvailableVehicles__Container {
    display: flex;
    flex-direction: column;
    background: rgb(248, 225, 150);
    height: auto;
    margin-top: 2%;
}

.AvailableVehicles__Container h3 {
    text-align: center;
}


.Confirm__Booking__btn {
    margin-top: 20%;
    align-self: center;
    text-align: center;
    height: 20px;
    color: white;
    background: orange;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid rgb(123, 88, 2);
    transition: all 0.3s;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 1);
}

.Confirm__Booking__btn:hover {
    background: rgb(226, 173, 0);
    color: black;
    border: 1px solid rgb(123, 88, 2);
}