.PrivacyPolicy__container {
    height: 70px;
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.nav__text1 {}

.nav__text2 {
    margin-left: 40px;
    margin-right: 15px;
}