.bodyparttwo__container {
    background: #EADCA6;
    padding-top: 5px;
}

.bodyparttwo__container h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    color: #B8860B;
}

.bodyparttwoIcon__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bodyparttwoIcon {
    flex-direction: column;
    margin-top: 10px;
}

.bodyparttwoIcon p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #800000;
    padding-bottom: 25px;
}
