.Sidebar__Container {
    display: flex;
    flex-direction: column;
    background: grey;
    width: 20%;
    height: 100vh;
    border-radius: 2rem;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%), 0 1px 3px rgb(0 0 0 / 30%);
}

.Sidebar__Container h2 {
    font-family: 'Patrick Hand', cursive;
    text-shadow: rgb(199, 124, 13) 1px 0 10px;
}

.Profile__Container {
    padding-top: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(212, 133, 36);
    border-radius: 30px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%), 0 1px 3px rgb(0 0 0 / 30%);
}

.Profile__Container h3 {
    font-family: 'Poppins', sans-serif;
}

.SidebarItems__Container{
    margin-top: 20px;
    background: rgb(232, 166, 119);
    width: 90%;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%), 0 1px 3px rgb(0 0 0 / 30%);
}

.SidebarItems__Container p {
    cursor: pointer;
    padding: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.SidebarItems__Container p:hover {
    background: rgb(246, 176, 46);
    border: 1px solid rgb(209, 169, 83);
}

.LogOutBtn {
    display: flex;
    justify-items: center;
    margin-top: 5rem;
    background: burlywood;
    padding: 5px;
    outline: 2px solid rgb(149, 93, 8);
    outline-offset: .2rem;
    border-radius: 10px;
    cursor: pointer;
}

.LogOutBtn:hover {
    background: rgb(246, 176, 46);
    border: 1px solid black;
}