.bookingBody__container {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    background-color: #f5d6a0;
}

.boookingparttwo__container {
}

.bookingBody__container h1 {
    text-align: center;
    margin-left: 20px;
    margin-top: 50px;
    font-family: 'Tiro Gurmukhi', serif;
}

.Trip__container {
    margin-left: 30%;
}

.BookingField {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 10px;
}

.Trip__container label {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
}


