.PlaceBooking__btn {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
    height: 20px;
    color: white;
    background: orange;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid rgb(123, 88, 2);
    transition: all 0.3s;
}

.PlaceBooking__btn:hover {
    background: rgb(226, 173, 0);
    color: black;
    border: 1px solid rgb(123, 88, 2);
}