.VehicleRegisterMain__Container {
    display: flex;
    flex-direction: column;
}

.VehicleRegister__Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}