.bodyone__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 38rem;
    align-items: center;
}

.bodyone__part1 {
    height: 35rem;
    width: 48%;
    background: cadetblue;
    border-radius: 15px;
    border: 1px solid black;
    margin-left: 20px;
}

.bodyone__part2 {
    height: 35rem;
    width: 48%;
    background: #d9ffe6;
    border-radius: 15px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%), 0 1px 3px rgb(0 0 0 / 30%);
}

.bodyone__part2 h2 {
    margin-top: 30px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

.bodyone__part2 p {
    text-align: center;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    padding-left: 25px;
    padding-right: 25px;
}

.NeedRide__btn {
    margin-top: 10px;
    margin-left: 20rem;
    margin-right: 18rem;
    width: max-content;
    color: white;
    background: orange;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid rgb(178, 128, 0);
}

.NeedRide__btn:hover {
    background: orange;
    color: black;
    border: 1px solid black;
}